/* glue: 0.11.1 hash: b8cf4fd7b7 */
        .sprite-cars-cars,
.sprite-cars-cars20170504,
.sprite-cars-zaz,
.sprite-cars-vortex,
.sprite-cars-volvo,
.sprite-cars-volkswagen,
.sprite-cars-vaz,
.sprite-cars-uaz,
.sprite-cars-toyota,
.sprite-cars-suzuki,
.sprite-cars-subaru,
.sprite-cars-ssang-yong,
.sprite-cars-smart,
.sprite-cars-skoda,
.sprite-cars-seat,
.sprite-cars-scion,
.sprite-cars-saturn,
.sprite-cars-saab,
.sprite-cars-rover,
.sprite-cars-rolls-royce,
.sprite-cars-renault,
.sprite-cars-proton,
.sprite-cars-porsche,
.sprite-cars-pontiac,
.sprite-cars-plymuth,
.sprite-cars-plymouth,
.sprite-cars-peugeot,
.sprite-cars-opel,
.sprite-cars-nissan,
.sprite-cars-mitsubishi,
.sprite-cars-mini,
.sprite-cars-mercury,
.sprite-cars-mercedes-benz,
.sprite-cars-mazda,
.sprite-cars-maserati,
.sprite-cars-man,
.sprite-cars-lincoln,
.sprite-cars-lifan,
.sprite-cars-lexus,
.sprite-cars-ldv,
.sprite-cars-land-rover,
.sprite-cars-lancia,
.sprite-cars-lada-vaz,
.sprite-cars-kia,
.sprite-cars-jeep,
.sprite-cars-jaguar,
.sprite-cars-iveco,
.sprite-cars-isuzu,
.sprite-cars-iran-khodro,
.sprite-cars-infiniti,
.sprite-cars-hyundai,
.sprite-cars-hummer,
.sprite-cars-honda,
.sprite-cars-great-wall,
.sprite-cars-geely,
.sprite-cars-gaz,
.sprite-cars-ford,
.sprite-cars-ford-north-america,
.sprite-cars-fiat,
.sprite-cars-dodge,
.sprite-cars-datsun,
.sprite-cars-daihatsu,
.sprite-cars-daf,
.sprite-cars-daewoo,
.sprite-cars-dacia,
.sprite-cars-citroen,
.sprite-cars-chrysler,
.sprite-cars-chevrolet,
.sprite-cars-chery,
.sprite-cars-cadillac,
.sprite-cars-byd,
.sprite-cars-bmw,
.sprite-cars-bentley,
.sprite-cars-baw,
.sprite-cars-audi,
.sprite-cars-alfa-romeo,
.sprite-cars-acura {
            background-image: url('cars.png');
            background-repeat: no-repeat;
        }
        
        .sprite-cars-cars {
            background-position: 0 0;
            width: 936px;
            height: 545px;
        }
        
        .sprite-cars-cars20170504 {
            background-position: -936px 0;
            width: 432px;
            height: 415px;
        }
        
        .sprite-cars-zaz {
            background-position: -936px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-vortex {
            background-position: -972px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-volvo {
            background-position: -1008px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-volkswagen {
            background-position: -1044px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-vaz {
            background-position: -1080px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-uaz {
            background-position: -1116px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-toyota {
            background-position: -1152px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-suzuki {
            background-position: -1188px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-subaru {
            background-position: -1224px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-ssang-yong {
            background-position: -1260px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-smart {
            background-position: -1296px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-skoda {
            background-position: -1332px -415px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-seat {
            background-position: -936px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-scion {
            background-position: -972px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-saturn {
            background-position: -1008px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-saab {
            background-position: -1044px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-rover {
            background-position: -1080px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-rolls-royce {
            background-position: -1116px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-renault {
            background-position: -1152px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-proton {
            background-position: -1188px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-porsche {
            background-position: -1224px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-pontiac {
            background-position: -1260px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-plymuth {
            background-position: -1296px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-plymouth {
            background-position: -1332px -441px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-peugeot {
            background-position: -936px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-opel {
            background-position: -972px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-nissan {
            background-position: -1008px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mitsubishi {
            background-position: -1044px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mini {
            background-position: -1080px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mercury {
            background-position: -1116px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mercedes-benz {
            background-position: -1152px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mazda {
            background-position: -1188px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-maserati {
            background-position: -1224px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-man {
            background-position: -1260px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lincoln {
            background-position: -1296px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lifan {
            background-position: -1332px -467px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lexus {
            background-position: -936px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-ldv {
            background-position: -972px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-land-rover {
            background-position: -1008px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lancia {
            background-position: -1044px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lada-vaz {
            background-position: -1080px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-kia {
            background-position: -1116px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-jeep {
            background-position: -1152px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-jaguar {
            background-position: -1188px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-iveco {
            background-position: -1224px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-isuzu {
            background-position: -1260px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-iran-khodro {
            background-position: -1296px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-infiniti {
            background-position: -1332px -493px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-hyundai {
            background-position: -936px -519px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-hummer {
            background-position: -972px -519px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-honda {
            background-position: -1008px -519px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-great-wall {
            background-position: 0 -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-geely {
            background-position: -36px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-gaz {
            background-position: -72px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-ford {
            background-position: -1044px -519px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-ford-north-america {
            background-position: -1080px -519px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-fiat {
            background-position: -108px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-dodge {
            background-position: -144px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-datsun {
            background-position: -180px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-daihatsu {
            background-position: -216px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-daf {
            background-position: -252px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-daewoo {
            background-position: -1116px -519px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-dacia {
            background-position: -288px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-citroen {
            background-position: -324px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-chrysler {
            background-position: -1152px -519px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-chevrolet {
            background-position: -1188px -519px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-chery {
            background-position: -360px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-cadillac {
            background-position: -396px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-byd {
            background-position: -432px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-bmw {
            background-position: -468px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-bentley {
            background-position: -504px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-baw {
            background-position: -540px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-audi {
            background-position: -576px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-alfa-romeo {
            background-position: -612px -545px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-acura {
            background-position: -648px -545px;
            width: 36px;
            height: 26px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-cars-cars,
    .sprite-cars-cars20170504,
    .sprite-cars-zaz,
    .sprite-cars-vortex,
    .sprite-cars-volvo,
    .sprite-cars-volkswagen,
    .sprite-cars-vaz,
    .sprite-cars-uaz,
    .sprite-cars-toyota,
    .sprite-cars-suzuki,
    .sprite-cars-subaru,
    .sprite-cars-ssang-yong,
    .sprite-cars-smart,
    .sprite-cars-skoda,
    .sprite-cars-seat,
    .sprite-cars-scion,
    .sprite-cars-saturn,
    .sprite-cars-saab,
    .sprite-cars-rover,
    .sprite-cars-rolls-royce,
    .sprite-cars-renault,
    .sprite-cars-proton,
    .sprite-cars-porsche,
    .sprite-cars-pontiac,
    .sprite-cars-plymuth,
    .sprite-cars-plymouth,
    .sprite-cars-peugeot,
    .sprite-cars-opel,
    .sprite-cars-nissan,
    .sprite-cars-mitsubishi,
    .sprite-cars-mini,
    .sprite-cars-mercury,
    .sprite-cars-mercedes-benz,
    .sprite-cars-mazda,
    .sprite-cars-maserati,
    .sprite-cars-man,
    .sprite-cars-lincoln,
    .sprite-cars-lifan,
    .sprite-cars-lexus,
    .sprite-cars-ldv,
    .sprite-cars-land-rover,
    .sprite-cars-lancia,
    .sprite-cars-lada-vaz,
    .sprite-cars-kia,
    .sprite-cars-jeep,
    .sprite-cars-jaguar,
    .sprite-cars-iveco,
    .sprite-cars-isuzu,
    .sprite-cars-iran-khodro,
    .sprite-cars-infiniti,
    .sprite-cars-hyundai,
    .sprite-cars-hummer,
    .sprite-cars-honda,
    .sprite-cars-great-wall,
    .sprite-cars-geely,
    .sprite-cars-gaz,
    .sprite-cars-ford,
    .sprite-cars-ford-north-america,
    .sprite-cars-fiat,
    .sprite-cars-dodge,
    .sprite-cars-datsun,
    .sprite-cars-daihatsu,
    .sprite-cars-daf,
    .sprite-cars-daewoo,
    .sprite-cars-dacia,
    .sprite-cars-citroen,
    .sprite-cars-chrysler,
    .sprite-cars-chevrolet,
    .sprite-cars-chery,
    .sprite-cars-cadillac,
    .sprite-cars-byd,
    .sprite-cars-bmw,
    .sprite-cars-bentley,
    .sprite-cars-baw,
    .sprite-cars-audi,
    .sprite-cars-alfa-romeo,
    .sprite-cars-acura {
                background-image: url('cars.png?1');
                -webkit-background-size: 1368px 571px;
                -moz-background-size: 1368px 571px;
                background-size: 1368px 571px;
            }
        }
        