/* glue: 0.11.1 hash: f04b30a60f */
        .sprite-cars-cars,
.sprite-cars-zaz,
.sprite-cars-vortex,
.sprite-cars-volvo,
.sprite-cars-volkswagen,
.sprite-cars-vaz,
.sprite-cars-uaz,
.sprite-cars-toyota,
.sprite-cars-suzuki,
.sprite-cars-subaru,
.sprite-cars-ssang-yong,
.sprite-cars-smart,
.sprite-cars-skoda,
.sprite-cars-seat,
.sprite-cars-saturn,
.sprite-cars-saab,
.sprite-cars-rover,
.sprite-cars-rolls-royce,
.sprite-cars-renault,
.sprite-cars-proton,
.sprite-cars-porsche,
.sprite-cars-pontiac,
.sprite-cars-plymuth,
.sprite-cars-plymouth,
.sprite-cars-peugeot,
.sprite-cars-opel,
.sprite-cars-nissan,
.sprite-cars-mitsubishi,
.sprite-cars-mini,
.sprite-cars-mercedes-benz,
.sprite-cars-mazda,
.sprite-cars-lincoln,
.sprite-cars-lifan,
.sprite-cars-lexus,
.sprite-cars-land-rover,
.sprite-cars-lancia,
.sprite-cars-kia,
.sprite-cars-jeep,
.sprite-cars-jaguar,
.sprite-cars-isuzu,
.sprite-cars-infiniti,
.sprite-cars-hyundai,
.sprite-cars-hummer,
.sprite-cars-honda,
.sprite-cars-great-wall,
.sprite-cars-geely,
.sprite-cars-gaz,
.sprite-cars-ford,
.sprite-cars-fiat,
.sprite-cars-dodge,
.sprite-cars-daihatsu,
.sprite-cars-daewoo,
.sprite-cars-dacia,
.sprite-cars-citroen,
.sprite-cars-chrysler,
.sprite-cars-chevrolet,
.sprite-cars-chery,
.sprite-cars-cadillac,
.sprite-cars-byd,
.sprite-cars-bmw,
.sprite-cars-audi,
.sprite-cars-alfa-romeo,
.sprite-cars-acura {
            background-image: url('cars20170504.png');
            background-repeat: no-repeat;
        }
        
        .sprite-cars-cars {
            background-position: 0 0;
            width: 360px;
            height: 311px;
        }
        
        .sprite-cars-zaz {
            background-position: 0 -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-vortex {
            background-position: -36px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-volvo {
            background-position: -72px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-volkswagen {
            background-position: -108px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-vaz {
            background-position: -144px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-uaz {
            background-position: -180px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-toyota {
            background-position: -216px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-suzuki {
            background-position: -252px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-subaru {
            background-position: -288px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-ssang-yong {
            background-position: -324px -311px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-smart {
            background-position: -360px 0;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-skoda {
            background-position: -360px -26px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-seat {
            background-position: -360px -52px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-saturn {
            background-position: -360px -78px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-saab {
            background-position: -360px -104px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-rover {
            background-position: -360px -130px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-rolls-royce {
            background-position: -360px -156px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-renault {
            background-position: -360px -182px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-proton {
            background-position: -360px -208px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-porsche {
            background-position: -360px -234px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-pontiac {
            background-position: -360px -260px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-plymuth {
            background-position: -360px -286px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-plymouth {
            background-position: 0 -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-peugeot {
            background-position: -36px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-opel {
            background-position: -72px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-nissan {
            background-position: -108px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mitsubishi {
            background-position: -144px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mini {
            background-position: -180px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mercedes-benz {
            background-position: -216px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-mazda {
            background-position: -252px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lincoln {
            background-position: -288px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lifan {
            background-position: -324px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lexus {
            background-position: -360px -337px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-land-rover {
            background-position: 0 -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-lancia {
            background-position: -36px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-kia {
            background-position: -72px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-jeep {
            background-position: -108px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-jaguar {
            background-position: -144px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-isuzu {
            background-position: -180px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-infiniti {
            background-position: -216px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-hyundai {
            background-position: -252px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-hummer {
            background-position: -288px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-honda {
            background-position: -360px -312px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-great-wall {
            background-position: -324px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-geely {
            background-position: -360px -363px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-gaz {
            background-position: -396px 0;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-ford {
            background-position: -396px -26px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-fiat {
            background-position: -396px -51px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-dodge {
            background-position: -396px -77px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-daihatsu {
            background-position: -396px -103px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-daewoo {
            background-position: -396px -129px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-dacia {
            background-position: -396px -154px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-citroen {
            background-position: -396px -180px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-chrysler {
            background-position: -396px -206px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-chevrolet {
            background-position: -396px -231px;
            width: 36px;
            height: 25px;
        }
        
        .sprite-cars-chery {
            background-position: -396px -256px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-cadillac {
            background-position: -396px -282px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-byd {
            background-position: -396px -308px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-bmw {
            background-position: -396px -334px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-audi {
            background-position: -396px -360px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-alfa-romeo {
            background-position: 0 -389px;
            width: 36px;
            height: 26px;
        }
        
        .sprite-cars-acura {
            background-position: -36px -389px;
            width: 36px;
            height: 26px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-cars-cars,
    .sprite-cars-zaz,
    .sprite-cars-vortex,
    .sprite-cars-volvo,
    .sprite-cars-volkswagen,
    .sprite-cars-vaz,
    .sprite-cars-uaz,
    .sprite-cars-toyota,
    .sprite-cars-suzuki,
    .sprite-cars-subaru,
    .sprite-cars-ssang-yong,
    .sprite-cars-smart,
    .sprite-cars-skoda,
    .sprite-cars-seat,
    .sprite-cars-saturn,
    .sprite-cars-saab,
    .sprite-cars-rover,
    .sprite-cars-rolls-royce,
    .sprite-cars-renault,
    .sprite-cars-proton,
    .sprite-cars-porsche,
    .sprite-cars-pontiac,
    .sprite-cars-plymuth,
    .sprite-cars-plymouth,
    .sprite-cars-peugeot,
    .sprite-cars-opel,
    .sprite-cars-nissan,
    .sprite-cars-mitsubishi,
    .sprite-cars-mini,
    .sprite-cars-mercedes-benz,
    .sprite-cars-mazda,
    .sprite-cars-lincoln,
    .sprite-cars-lifan,
    .sprite-cars-lexus,
    .sprite-cars-land-rover,
    .sprite-cars-lancia,
    .sprite-cars-kia,
    .sprite-cars-jeep,
    .sprite-cars-jaguar,
    .sprite-cars-isuzu,
    .sprite-cars-infiniti,
    .sprite-cars-hyundai,
    .sprite-cars-hummer,
    .sprite-cars-honda,
    .sprite-cars-great-wall,
    .sprite-cars-geely,
    .sprite-cars-gaz,
    .sprite-cars-ford,
    .sprite-cars-fiat,
    .sprite-cars-dodge,
    .sprite-cars-daihatsu,
    .sprite-cars-daewoo,
    .sprite-cars-dacia,
    .sprite-cars-citroen,
    .sprite-cars-chrysler,
    .sprite-cars-chevrolet,
    .sprite-cars-chery,
    .sprite-cars-cadillac,
    .sprite-cars-byd,
    .sprite-cars-bmw,
    .sprite-cars-audi,
    .sprite-cars-alfa-romeo,
    .sprite-cars-acura {
                background-image: url('cars20170504.png');
                -webkit-background-size: 432px 415px;
                -moz-background-size: 432px 415px;
                background-size: 432px 415px;
            }
        }
        